<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- 
        Setting to switch between MySQL and SQL Server Database
        Allowed Values are MySQL or SQL
    -->
    <add key="BackendProvider" value="SQL"/>
    <!-- Keys for LDAP Authentication -->
    <!--<add key="ADserver" value="exbauat.copernicus.int"/>
    <add key="AdminGroup" value="Administrators"/>
    <add key="UserGroup" value="Domain Controllers"/>
    <add key="DomainName" value="copernicus"/>
    <add key="MenuIdAdmin" value="209"/>
    <add key="MenuIdUser" value="210"/>-->
  
    <!-- Local Server Details-->
   <add key="ADserver" value="192.168.0.109"/>
    <add key="AdminGroup" value="Administrators"/>
    <add key="UserGroup" value="RUser"/>
    <add key="DomainName" value="RSINNGP"/>
    <add key="MenuIdAdmin" value="209"/>
    <add key="MenuIdUser" value="210"/>
    <!--END-->
    
  </appSettings>
  <connectionStrings>
    <!-- SQL Server Connection String Dev Environment-->
   
    <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=EXBAUAT\SQLEXPRESS20142;Initial Catalog=TTSHCRIO;User ID=sa;Password=pass@123;"/>-->
    <add name="SQLServerDBConnectionString" connectionString="Data Source=192.168.0.110;Initial Catalog=TTSHCRIO_Avi;User ID=sa;Password=ROOT#123;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="120000" targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client/>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" crossDomainScriptAccessEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="TTSHWCFLayer.TTSHWCFService">
        <endpoint address="" behaviorConfiguration="jsonEndpointBehavior" binding="webHttpBinding" name="json" contract="TTSHWCFLayer.ITTSHWCFService"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"/>
        <endpoint address="wsHttpBinding" behaviorConfiguration="wsHttpBinding" binding="wsHttpBinding" bindingConfiguration="" name="wsHttpBinding" contract="TTSHWCFLayer.ITTSHWCFService"/>
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:59006" />-->
            <!--<add baseAddress="http://192.168.0.113:2879" />-->
            <!--<add baseAddress="http://exbauat.copernicus.int:59006"/>-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonEndpointBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="wsHttpBinding"/>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="true"/>-->
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>